*{
    margin: 0;
    padding: 0;
}

body{
    transition: 0.5s
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white{
    background-color: white;
}

.dark{
    background-color: black;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background-color: black;
    border-radius: 500px;
    cursor:pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 20px;
    width: 50px;
}

.label .ball{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    transition: 0.2s;
}

.checkbox:checked + .label .ball{
    transform: translateX(32px);
    background-color: black;
}

.checkbox:checked + .label{
    background-color: white;
}



.fa-moon{
    color: orange;
}

.fa-sun{
    color: yellow;
}